<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CI Pipeline Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container text-center mt-5">
    <div class="card shadow-lg p-5 rounded-4 border-0 bg-light">
      <h1 class="display-4 text-primary mb-4">🚀 CI/CD Pipeline</h1>
      <p class="lead">Welcome to the most beautiful Flask app with full CI/CD using GitHub Actions!</p>
      <a href="https://github.com/Denny0404/ci-pipeline-beautiful-app.git" target="_blank" class="btn btn-outline-primary mt-3">View on GitHub</a>
    </div>
  </div>
</body>
</html>
